<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 30px;
            word-wrap: break-word;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        .nav-scroller .nav-link {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: .875rem;
        }

        .d-flex {
            display: -ms-flexbox !important;
            display: flex !important
        }

        .justify-content-between {
            -ms-flex-pack: justify !important;
            justify-content: space-between !important
        }

        .py-1 {
            padding-top: .25rem !important
        }

        .p-2 {
            padding: .5rem !important
        }

        .text-muted {
            color: #6c757d !important;
            font-size: medium;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <h1>Stock Price</h1>
            <a style="float: right; margin-top: 30px;" href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="nav-scroller py-1">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 text-muted" href="/profile">My Profile</a>
                <a class="p-2 text-muted" href="">My Stocks</a>
                <a class="p-2 text-muted" href="/search">Search Stocks</a>
                <a class="p-2 text-muted" href="">Buy Stocks</a>
                <a class="p-2 text-muted" href="">Sell Stocks</a>
                <a class="p-2 text-muted" href="">Transfer Funds</a>
            </nav>
        </div>
        <br>

        <div class="row" style="margin: auto; text-align: center;">

            <div style="margin-left: auto; margin-right: auto; width: 50%;">
                <div class="well">
                    <h3><%= utils.stock %></h3>

                    <% if (utils.stock) { %>
                    <p>
                        <strong>Company</strong>: <%= utils.company %><br>
                        <strong>Time Period</strong>: <%= utils.time %><br>
                    </p>


                    <% } %>
                    <a href="/search" class="btn btn-default btm-sm">Search Stocks</a>
                    <a href="/buy" class="btn btn-default btm-sm">Buy</a>
                </div>
            </div>
            <h3>Current Price: $<%= utils.curr %></h3>
            <!-- TODO: graph of stock prices (array in utils.history) -->
            <canvas id="stockChart" width="400" height="200"></canvas>

            <span id='dates' hidden>
                <%= JSON.stringify(utils.dates) %>
            </span>
            <span id='prices' hidden>
                <%= JSON.stringify(utils.prices) %>
            </span>

            <script>
                var dates = JSON.parse(document.getElementById('dates').textContent);
                var prices = JSON.parse(document.getElementById('prices').textContent);
                document.getElementById('dates').remove();
                document.getElementById('prices').remove();

                var ctx = document.getElementById('stockChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: dates,
                        datasets: [{
                            label: 'Prices',
                            data: prices,
                            backgroundColor: [
                                'rgba(0, 0, 0, 0)',
                                'rgba(54, 162, 235, 0)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>


    </div>
</body>

</html>